.albColumn{
    padding: 0.1px;
}

.albPhoto{
    padding: 0;
    z-index: 1;
    
}

.albPhotoContainer{
    display: block;
    padding: 3px;
}

.albOver{
    background: rgba(0,0,0,0);
    position: absolute;
    padding: 20px;
    margin-top: -20%;
    z-index: 2;
    visibility: hidden;
}

.sstyl{
    background:  	#745151;
}

.dstyl{
    background: #9ebd9e;
}

#presentationCol #presenColImg{
    min-height: 43em;
    max-height: 43em;
    width: 100%;
    padding-top: 1em;
}

#presentationCol img {
    display:block;
    margin:auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

#titleCol .jumbotron {
    padding: 0;
    margin: 0;
    color:  	#f1e8ca;
}

.dirOver{
    position: absolute;
    background: rgb(0,0,0,0);
    z-index: 2;
    padding: 0;
    vertical-align: center;
    margin-top: -25%;
}

.dirArrow{
    max-width: 60%;
    margin: 0;
    padding: 0;
    vertical-align: center;
    
}


.bounce {
    left: 50%;
    right: auto;
    margin:auto;
    width: 70px;
    height: 40px;
    
}
